body {
  padding: 20px;
}

.call-view {
  display: flex;
}

.face-area {
  display: flex;
  flex-direction: column;
}

.face-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0.3;
  padding: 0 10px 0 0;
}

.field-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.local-video,
.remote-video {
  width: 100%;
  max-width: 450px;
}

.local-field-video,
.remote-field-video {
  width: 100%;
  max-width: 700px;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.call-action-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  max-width: 430px;
  padding-left: 10px;
}

.hangup-button {
  margin-top: 10px;
}

.status-indicator__container {
  display: flex;
}

.status-indicator__item {
  margin-right: 10px;
}

@media screen and (min-width: 48em) {
  .localstream-area {
    justify-content: flex-start;
  }

  .remotestream-area {
    justify-content: flex-end;
  }
}
