body {
  padding: 20px;
}

.call-view {
  display: flex;
  flex-direction: column;
}

.localstream-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.remotestream-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

@media screen and (min-width: 48em) {
  .localstream-area {
    justify-content: flex-start;
  }

  .remotestream-area {
    justify-content: flex-end;
  }
}
